
main
  .container1
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 40vw
    // height: 40vh
    background-color: #73A9D9
    h1
      font-size: 1.5rem
      margin: 2vh 0
      line-height: 5vh
      text-transform: uppercase
      text-align: center
    .left-side
      display: flex
      flex-wrap: wrap
      flex-basis: 45%
      justify-content: space-around
      align-items: center
      button
        font-size: 1.5rem
        height: 3vw
        width: 3vw
        color: white
        background-color: #055BA6
        border: none
        &:hover
          background-color: white
          color: #055BA6
          cursor: pointer
      input
        height: 3vw
        flex-basis: 75%
        padding: 20px 10px
        margin: 0 10px
        outline: none
      p
        flex-basis: 100%
        text-align: center
        margin-top: 20px
      nav
        align-self: flex-start
        margin: 20px 0
        ul
          list-style-type: none
          li
            font-size: 1rem
            &:hover
              text-decoration: underline
              cursor: pointer
    .right-side
      display: flex
      flex-wrap: wrap
      flex-basis: 45%
      align-items: center
      justify-content: center
      .city-name
        align-self: center
        font-size: 2rem
        flex-basis: 100%
        text-align: center
        margin-bottom: 10px
      img
        width: 8vw
        margin-right: 20px
        margin-bottom: 20px
        align-self: flex-start
      .parameters1
        .temperature
          font-size: 3.5rem
          text-align: center
        .weather
          font-size: 1.2rem
          margin-bottom: 10px
          text-align: center
      .parameters2
        display: flex
        width: 100%
        justify-content: space-around
        p
          margin-right: 2px
      .parameters3
        display: flex
        width: 100%
        justify-content: space-around
        margin-bottom: 10px

footer
  position: fixed
  width: 100vw
  height: 2vh
  bottom: 0
  background-color: #73A9D9
  text-align: right
